div.scrollable {
 	overflow: auto; 
	width: 100%;
}

#mc_header {
	/* FIXME: Allow fixed header */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#mh_header {
	/* FIXME: Allow fixed header */
	position: fixed;
	top: 0;
	right: 0;
	width: 34%;
}

#mh_content,
#mc_content {
	/* FIXME: Allow fixed header */
	padding-top: 2.5em;
}

