body {
	height: 100%;
}

#m_login {
    height: 100%;
	overflow: hidden;
}

#m_container div.narrow {
	width: 40em;
}

#m_help {
	height: 100%;
}

table.form td.textarea,
table.form td.input input {
	-webkit-border-radius: 7px;
	border: 1px solid #777;
	-webkit-box-shadow: none;
}

input {
	border: 1px solid #777;
}

input, textarea {
	-webkit-appearance: textfield;
}

table.form span.flag_on {
	-webkit-box-shadow: none;
}

#mc_header {
	/* FIXME: Allow fixed header */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#mh_header {
	/* FIXME: Allow fixed header */
	position: fixed;
	top: 0;
	right: 0;
	width: 34%;
}

#mh_content,
#mc_content {
	/* FIXME: Allow fixed header */
	padding-top: 2.5em;
}

div.mediumflex,
div.large,
div.xlarge {
	max-width: 95%;
}


