body {
	height: 100%;
}

#m_login {
    height: 100%;
	overflow: hidden;
}

#m_container div.narrow {
	width: 40em;
}

#m_help {
	height: 100%;
}

#mp_header,
#mw_header,
#mc_header {
	/* FIXME: Allow fixed header */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#mh_header {
	/* FIXME: Allow fixed header */
	position: fixed;
	top: 0;
	right: 0;
	width: 34%;
}

#mh_content,
#mc_content {
	/* FIXME: Allow fixed header */
	padding-top: 2.5em;
}

#mc_pdf,
#mc_website {
	width:100%;
	height:100%;
	margin:0px;
	border:0px;
	padding:2.5em 0px 0px 0px;
}
#mc_pdf {
	text-align: center;
}

#mc_pdf, 
#mc_pdf_iframe {
	text-align: center;
	overflow: scroll !important;
	-webkit-overflow-scrolling:touch !important;
}

#mc_pdf #mc_pdf_iframe,
#mc_website #mc_website_iframe {
	margin:0px;
	padding:0px;
	border:0px;
}

#mc_pdf_iframe {
	padding-left: 50px;
}

div.mediumflex,
div.large,
div.xlarge {
	max-width: 95%;
}

/* media queries to adjust screen based on width */
@media screen and (min-width: 61em) {
	div.help-off.guided-on div.guided-disabled div.narrowaside,
	div.help-off.guided-off div.narrowaside {
		max-width: 59em;
	}

	div.help-off.guided-on div.guided-disabled div.mediumaside,
	div.help-off.guided-off div.mediumaside {
		max-width: 70em;
	}

	div.help-off.guided-on div.guided-disabled div.narrowaside div.panelsection,
	div.help-off.guided-off div.narrowaside div.panelsection {
		width: 35em;
		margin-left: 22em;
	}

	div.help-off.guided-on div.guided-disabled div.mediumaside div.panelsection,
	div.help-off.guided-off div.mediumaside div.panelsection {
		width: 34em;
		margin-left: 26em;
	}

	div.help-off.guided-on div.guided-disabled div.narrowaside div.formtabs,
	div.help-off.guided-off div.narrowaside div.formtabs {
		margin-left: 0px;
	}

	div.help-off.guided-on div.guided-disabled div.narrowaside div.asideleft,
	div.help-off.guided-off div.narrowaside div.asideleft {
		float: left;
		clear: left;
		width: 20em;
		max-width: 20em;
		/* FIXME: needs to be 38 for date picker */
		/* max-width: 38em; */
		margin-left: 0px;
		height: auto;
		margin-top: 0px;
	}

	div.help-off.guided-on div.guided-disabled div.mediumaside div.asideleft,
	div.help-off.guided-off div.mediumaside div.asideleft {
		float: left;
		clear: left;
		width: 25em;
		max-width: 25em;
		margin-left: 0px;
		height: auto;
		margin-top: 0px;
	}

	div.help-off.guided-on div.guided-disabled div.mediumaside div.formtabs,
	div.help-off.guided-off div.narrowaside div.formtabs,
	div.help-off.guided-off div.mediumaside div.formtabs {
		margin-left: 0px;
	}

	div.help-off.guided-on div.guided-disabled div.aside,
	div.help-off.guided-off div.aside {
		float: right;
		clear: both;
		width: 20em;
		max-width: 24em;
		height: auto;
		margin-top: 0px;
	}

	div.help-off.guided-on div.guided-disabled div.narrowaside div.fullwidth,
	div.help-off.guided-on div.guided-disabled div.narrowaside div.formtabs,
	div.help-off.guided-on div.guided-disabled div.mediumaside div.fullwidth,
	div.help-off.guided-on div.guided-disabled div.mediumaside div.formtabs,
	div.help-off.guided-off div.narrowaside div.fullwidth,
	div.help-off.guided-off div.narrowaside div.formtabs,
	div.help-off.guided-off div.mediumaside div.fullwidth,
	div.help-off.guided-off div.mediumaside div.formtabs {
		
		width: 100%;
	}
}
