table.form td.textarea,
table.form td.search input,
table.form td.multiselect input,
table.form td.input input {
	-moz-border-radius: 7px;
	border-radius: 7px;
	box-shadow: #777 0px 1px 3px inset;
}

table.simplelist input,
table.datepicker input {
	-moz-border-radius: 7px;
	border-radius: 7px;
	box-shadow: #eee 0px 1px 1px inset;
}

table.list tr.textfield > td > input:-moz-placeholder {
	color: #ccc;
}

h2 {
	text-shadow: #fff 1px 1px 0px;
	padding-top: 0.2em;
}

span.count {
	-moz-border-radius: 1.2em;
	border-radius: 1.2em;
}

table.list td span.count {
	padding: 0.1em 0.6em 0.1em 0.6em;
}
table.list > tbody > tr > td.label {
	padding: 0.7em 0.45em 0.6em 0.45em;
}

button, input.button {
	border: 1px solid #ddd;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: -moz-linear-gradient(top, #eee, #bbb);
	text-shadow: #eee 1px 1px 0px;
	padding: 3px 10px 3px 10px;
}

table.form > tbody > tr > td.button,
table.simplebuttons > tbody > tr > td.button {
	background: -moz-linear-gradient(top, #999, #555); 
	text-shadow: #555 -1px 1px 0px; 
	text-decoration: none; 
	border: 0px;
}

h2 span.rbutton_off {
	font-size: 0.7em;
	padding: 0.2em 0.25em 0.2em 0.25em;
}

span.rbutton_on,
span.rbutton_off {
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
}

table.form tr.toggle td.multiselect span.toggle_on,
table.form tr.toggle td.multiselect span.toggle_off,
table.form tr.multiselect td span.toggle_on,
table.form tr.multiselect td span.toggle_off,
table.form tr.tags td span.toggle_on,
table.form tr.tags td span.toggle_off,
table.form td.flags span.flag_on,
table.form td.flags span.flag_off {
	-moz-border-radius: 7px;
	border-radius: 7px;
}

span.rbutton_on,
table.form td div span.toggle_on,
table.form span.flag_on {
	background: -moz-linear-gradient(top, #555, #999);
	text-shadow: 1px 1px 0px #555; 
	-moz-box-shadow: inset 1px 1px 0px 0px #555;
	color: #ddd;
	border: 1px solid #777;
}

table.form td.joinedflags span.flag_on,
table.form td.joinedflags span.flag_off, 
table.form td div span.toggle_on,
table.form td div span.toggle_off {
	padding: 0.3em 0.5em 0.3em 0.5em;
}

span.rbutton_off,
table.form td div span.toggle_off,
table.form span.flag_off {
	background: -moz-linear-gradient(top, #eee, #bbb);
	text-shadow: 1px 1px 0px #eee; 
	-moz-box-shadow: 1px 1px 2px 0 #555;
	color: #777;
	border: 1px solid #777;
}

table.form td.joinedflags span.flag_on:first-child,
table.form td.joinedflags span.flag_off:first-child,
table.form td div span.toggle_on:first-child,
table.form td div span.toggle_off:first-child {
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

table.form td.joinedflags span.flag_on:last-child,
table.form td.joinedflags span.flag_off:last-child,
table.form td div span.toggle_on:last-child,
table.form td div span.toggle_off:last-child {
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

table.form > tbody > tr > td.delete,
table.simplebuttons > tbody > tr > td.delete {
	background: -moz-linear-gradient(top, #ec4a0b, #ad390c); 
	text-shadow: 0 -1px 1px #953403; text-decoration: none; 
	border: 0px;
}
.headerbar td.title {
    text-shadow: #000 1px 1px 0px;
}

.headerbar td div.button span.label {
	text-shadow: 1px 1px 0px #667;
}

.headerbar td div.button span.icon {
	text-shadow: -1px -1px 0px #667;
}

.headerbar td div.button span.icon {
	max-height: 15px;
}

.headerbar td.avatar img {
	/* FIXME: In the future this can have rounded corners */
}

.subheaderbar td.title {
	text-shadow: #ddd 1px 1px 0px;
}

.subheaderbar {
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

table.list, 
table.list > tbody:first-child > tr:first-child > td:first-child > textarea,
table.list > tbody:first-child > tr table,
table.list > tbody:first-child > tr table tr:first-child > td:first-child,
table.header > thead > tr:first-child > th:first-child,
table.noheader > tbody:first-child > tr:first-child > td:first-child,
table.list > tfoot:first-child > tr:first-child > td:first-child {
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
}

table.list, 
table.list > tbody:first-child > tr:first-child > td:last-child > textarea,
table.list > tbody:first-child > tr table,
table.list > tbody:first-child > tr table tr:first-child > td:last-child,
table.header > thead > tr:first-child > th:last-child,
table.noheader > tbody:first-child > tr:first-child > td:last-child,
table.list > tfoot:first-child > tr:first-child > td:last-child {
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
}

table.list, 
table.list > tbody:last-child > tr:last-child > td:first-child > textarea,
table.list > tbody:last-child > tr table,
table.list > tbody:last-child > tr table tr:last-child > td:first-child,
table.list > thead:last-child > tr:last-child > th:first-child,
table.list > tbody:last-child > tr:last-child > th:first-child,
table.list > tbody:last-child > tr:last-child > td:first-child,
table.list > tfoot > tr:last-child > th:first-child, 
table.list > tfoot > tr:last-child > td:first-child {
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
}

table.list, 
table.list > tbody:last-child > tr:last-child > td:last-child > textarea,
table.list > tbody:last-child > tr table,
table.list > tbody:last-child > tr table tr:last-child > td:last-child,
table.list > thead:last-child > tr:last-child > th:last-child,
table.list > tbody:last-child > tr:last-child > td:last-child,
table.list > tfoot > tr:last-child > th:last-child, 
table.list > tfoot > tr:last-child > td:last-child {
	-moz-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
}

/*
table.list > tbody > tr:first-child > td:first-child > textarea,
table.list > tbody > tr table,
table.form > tbody > tr table tbody,
table.form > tbody > tr table tr:first-child > td:first-child,
table.header > thead > tr:first-child > th:first-child,
table.noheader > tbody > tr:first-child > td:first-child {
	-moz-border-radius-topleft: 7px;
}

table.list > tbody > tr:first-child > td:last-child > textarea,
table.list > tbody > tr table,
table.form > tbody > tr table tbody,
table.form > tbody > tr table tr:first-child > td:last-child,
table.header > thead > tr:first-child > th:last-child,
table.noheader > tbody > tr:first-child > td:last-child {
	-moz-border-radius-topright: 7px;
}

table.list > tbody > tr:last-child > td:first-child > textarea,
table.list > tbody > tr table,
table.form > tbody > tr table tbody,
table.list > tbody > tr table tr:last-child > td:first-child,
table.list > tbody > tr:last-child > th:first-child,
table.list > tbody > tr:last-child > td:first-child {
	-moz-border-radius-bottomleft: 7px;
}

table.list > tbody > tr:last-child > td:last-child > textarea,
table.list > tbody > tr table,
table.list > tbody > tr table tr:last-child > td:last-child,
table.list > tbody > tr:last-child > td:last-child {
	-moz-border-radius-bottomright: 7px;
}
*/

table.list > tbody > tr table.calendar tr td {
	/* -moz-border-radius: 0px !important; */
}

table.list td > div.colourswatches > span.selected {
	 box-shadow: #777 1px 1px 3px;
}

table.dayschedule td.schedule_appointment {
	-moz-border-radius: 7px;
	border-radius: 7px;
}

table.services td span.job {
	border-radius: 7px;
}

#mh_header {
	width: 33%;
}
