// Styles for IE
button, input.button {
	border: 1px solid #ddd;
	-moz-border-radius: 7px;
	background: -moz-linear-gradient(top, #eee, #bbb);
	text-shadow: #eee 1px 1px 0px;
	padding: 7px 15px 7px 15px;
}
