body {
	font-size: 100%;
	color: #303030;
	font-family: arial, helvetica;
	padding: 0px;
	margin: 0px;
	border: 0px;
	height: 100%;
	/* overflow: hidden; */
}

.headerbar {
	border-bottom: 1px solid #667;
}
/*
.headerbar td.title {
	width: 40%;
} 

#mh_header.headerbar td.title {
	width: 35%;
}

.headerbar td.leftbuttons {
	width: 30%;
}

.headerbar td.rightbuttons {
	width: 30%;
}

#mh_header.headerbar td.leftbuttons,
#mh_header.headerbar td.rightbuttons {
	width: 45%;
}
*/
#m_error table.list td {
	background: #fff;
}

#m_forgot,
#m_recover,
#m_relogin,
#m_login {
	width: 100%;
	text-align: center;
	padding-top: 2em;
	background: #fff url('img/background2.png');
}

#m_forgot img.logo,
#m_recover img.logo,
#m_relogin img.logo,
#m_login img.logo {
    text-align: center;
    padding-bottom: 20px;
}

#m_container {
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}

#mc_apps {
	left: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div.narrow {
	width: 20em;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

div.medium {
	width: 95%;
	max-width: 40em;
	margin: 0 auto;
}

div.mediumflex {
	min-width: 30em;
	max-width: 50em;
	margin: 0 auto;
}

div.large {
	width: 50em;
	max-width: 95%;
	margin: 0 auto;
}

div.xlarge {
	width: 60em;
	max-width: 95%;
	margin: 0 auto;
}

div.full {
	max-width: 96%;
	margin: 0 auto;
}

div.narrowmulticol {
	width: 100%;
}

div.narrowmulti div.panelsection {
	width: 20em;
	margin: 0 auto;
	display: inline-flex;
}

div.narrowmulti div.panelsection table {
	width: 95%;
}

div.panel {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

div.wide {
/*	display: inline-block; */
	text-align: center;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
}

div.narrow h2,
div.mediumflex h2,
div.medium h2 {
	width: 100%;
}

div.headerbar {
	font-size: 1em;
	margin: 0px;
	padding: 0px;
	height: 2.5em;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

input {
	padding: 0.2em;
}

#m_help {
	float: right;
	min-height: 100%;
}

table.list tr.textfield > td > input.datetime {
	max-width: 12em;
}

table.list tr.textfield > td > input.timeduration {
	max-width: 6em;
}

table.list tr.gridfields > td.input input.integer,
table.list tr.gridfields > td.input input.small,
table.list tr.gridfields > td.input input.date,
table.list tr.gridfields > td.input input.hexcolour,
table.list tr.gridfields > td.input input.time,
table.list tr > td input.integer,
table.list tr > td input.small,
table.list tr > td input.date,
table.list tr > td input.hexcolour,
table.list tr > td input.time {
	max-width: 8em;
}

table.list tr.textfield > td > input.medium {
	max-width: 15em;
}

table.list tr.textfield > td > input.large {
	max-width: 45em;
}

table.list > tbody > tr.followup > td.userdetails {
	border-right: 1px dashed #bbb;
	text-decoration: normal;
	white-space: nowrap;
}

table.list > tbody > tr.followup > td.content {
	text-decoration: normal;
	white-space: pre-wrap;
}

table.list td div.calendar {
	width: 33%;
}

/* media queries to adjust screen based on width */
@media screen and (min-width: 73em) {
	div.help-off div.mediumaside {
		max-width: 70em;
	}

	div.help-off div.mediumaside div.panelsection {
		width: 35em;
		margin-left: 36em;
	}

	div.help-off div.mediumaside div.formtabs {
		margin-left: 0px;
	}

	div.help-off div.mediumaside div.asideleft {
		float: left;
		clear: left;
		width: 35em;
		max-width: 35em;
		/* FIXME: needs to be 38 for date picker */
		/* max-width: 38em; */
		margin-left: 0px;
		height: auto;
		margin-top: 0px;
	}

	div.help-off div.aside {
		float: right;
		clear: right;
		width: 20em;
		max-width: 29em;
		height: auto;
		margin-top: 0px;
	}

	div.help-off div.mediumaside div.fullwidth,
	div.help-off div.mediumaside div.formtabs,
	div.help-off div.mediumaside div.paneltabs {
		width: 100%;
	}
}

/* media queries to adjust screen based on width */
@media screen and (min-width: 84em) {
	div.help-off div.mediumaside {
		max-width: 80em;
	}
	div.help-off div.mediumaside div.formtabs {
		margin-left: 0px;
	}
	div.help-off div.mediumaside div.panelsection {
		width: 45em;
	}

}
