div.media div.imgwrap {
	box-shadow: #777 1px 1px 3px;
}

table.list {
	-moz-border-radius: 7px;
	box-shadow: #777 1px 1px 3px;
}

table.form {
	box-shadow: none;
}

table.simplegrid {
	-moz-border-radius: 7px;
	box-shadow: #777 1px 1px 3px;
}

h2 {
	text-shadow: #fff 1px 1px 0px;
}

.headerbar,
#m_forgot input.button,
#m_forgot button,
#m_recover input.button,
#m_recover button,
#m_login input.button,
#m_login button {
	box-shadow: #777 1px 1px 3px;
}

.subheaderbar td.title {
	text-shadow: #000 1px 1px 0px;
}
