.headerbar,
#m_forgot input.button,
#m_forgot button,
#m_recover input.button,
#m_recover button,
#m_login input.button,
#m_login button {
	-webkit-box-shadow: #777 1px 1px 3px;
}

.subheaderbar td.title {
	text-shadow: #000 1px 1px 0px;
}

div.wide table.datepicker,
div.wide table.simplegrid {
	width: 100%;
}
