body {
    font-size: 100%;
    color: #303030;
    font-family: arial, helvetica;
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100%;
    /* overflow: hidden; */
}

.headerbar {
    border-bottom: 1px solid #667;
}
/*
.headerbar td.title {
    width: 40%;
} 

#mh_header.headerbar td.title {
    width: 35%;
}

.headerbar td.leftbuttons {
    width: 30%;
}

.headerbar td.rightbuttons {
    width: 30%;
}

#mh_header.headerbar td.leftbuttons,
#mh_header.headerbar td.rightbuttons {
    width: 45%;
}
*/
#m_error table.list td,
#m_serror table.list td {
    background: #fff;
}

#m_forgot,
#m_recover,
#m_relogin,
#m_login {
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

#m_forgot img.logo,
#m_recover img.logo,
#m_relogin img.logo,
#m_login img.logo {
    text-align: center;
    padding-bottom: 20px;
}

#m_container {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

#mc_apps {
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

div.narrow {
    width: 20em;
    max-width: 20em;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
div.narrow.narrowaside {
    width: 42em;
}

div.medium {
    width: 95%;
    max-width: 40em;
    margin: 0 auto;
}

div.mediumflex {
    min-width: 30em;
    max-width: 50em;
    margin: 0 auto;
}

div.large {
    width: 50em;
    max-width: 95%;
    margin: 0 auto;
}
div.xlarge.mediumaside,
div.large.mediumaside,
div.xlarge.narrowaside,
div.large.narrowaside {
    width: 95%;
}

div.xlarge {
    width: 60em;
    max-width: 95%;
    margin: 0 auto;
}

div.full {
    max-width: 96%;
    margin: 0 auto;
}

div.narrowmulticol {
    width: 100%;
}

div.narrowmulti div.panelsection {
    width: 20em;
    margin: 0 auto;
    display: inline-flex;
}

div.narrowmulti div.panelsection table {
    width: 95%;
}

div.panel {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

div.wide {
/*  display: inline-block; */
    text-align: center;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

div.narrow h2,
div.mediumflex h2,
div.medium h2 {
    width: 100%;
} 

div.headerbar {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    height: 2.5em;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

input {
    padding: 0.2em;
}

#m_help {
    float: right;
    min-height: 100%;
}

table.list tr.textfield > td > input.datetime {
    max-width: 12em;
}

table.list tr.textfield > td > input.timeduration {
    max-width: 6em;
}

table.list tr.textfield > td.input input.tiny {
    max-width: 5em;
}

table.list tr.gridfields > td.input input.integer,
table.list tr.gridfields > td.input input.small,
table.list tr.gridfields > td.input input.date,
table.list tr.gridfields > td.input input.hexcolour,
table.list tr.gridfields > td.input input.time,
table.list tr > td input.integer,
table.list tr > td input.small,
table.list tr > td input.date,
table.list tr > td input.hexcolour,
table.list tr > td input.time {
    max-width: 10em;
}

table.list tr.textfield > td > input.medium {
    max-width: 15em;
}

table.list tr.textfield > td > input.large {
    max-width: 45em;
}

table.list > tbody > tr.followup > td.userdetails {
    border-right: 1px dashed #bbb;
    text-decoration: none;
    white-space: nowrap;
}

table.list > tbody > tr.followup > td.content {
    text-decoration: none;
    white-space: pre-wrap;
}

table.list td div.calendar {
    width: 33%;
}

/* media queries to adjust screen based on width */
@media screen and (min-width: 59em) {
    div.help-off.guided-on div.guided-disabled div.narrowaside,
    div.help-off.guided-off div.narrow.narrowaside,
    div.help-off.guided-off div.medium.narrowaside,
    div.help-off.guided-off div.large.narrowaside,
    div.help-off.guided-off div.xlarge.narrowaside {
        max-width: 59em;
    }
    div.help-off.guided-off div.large.mediumaside,
    div.help-off.guided-off div.xlarge.mediumaside {
        max-width: 100%;
    }
    div.help-off.guided-off div.narrow.narrowaside div.panelsection {
        width: 22em;
        margin-left: 22em;
    }
    div.help-off.guided-off div.panelcolumns,
    div.help-off.guided-on div.guided-disabled div.narrowaside div.panelsection,
/*  div.help-off.guided-off div.narrow.narrowaside div.panelsection, */
    div.help-off.guided-off div.medium.narrowaside div.panelsection,
    div.help-off.guided-off div.large.narrowaside div.panelsection,
    div.help-off.guided-off div.xlarge.narrowaside div.panelsection {
        width: 35em;
        margin-left: 22em;
    }
    div.help-off.guided-off div.panelcolumns,
    div.help-off.guided-off div.large.mediumaside div.panelsection,
    div.help-off.guided-off div.xlarge.mediumaside div.panelsection {
        width: 64%;
        margin-left: 37%;
    }
    div.help-off.guided-on div.guided-disabled div.narrowaside div.formtabs,
    div.help-off.guided-off div.narrowaside div.formtabs {
        margin-left: 0px;
    }

    div.help-off.guided-on div.guided-disabled div.narrowaside div.asideleft,
    div.help-off.guided-off div.narrow.narrowaside div.asideleft,
    div.help-off.guided-off div.medium.narrowaside div.asideleft,
    div.help-off.guided-off div.large.narrowaside div.asideleft,
    div.help-off.guided-off div.xlarge.narrowaside div.asideleft,
    div.help-off.guided-off div.narrowaside div.asideleft {
        float: left;
        clear: left;
        width: 20em;
        max-width: 20em;
        /* FIXME: needs to be 38 for date picker */
        /* max-width: 38em; */
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    }
    div.help-off.guided-off div.large.mediumaside div.asideleft,
    div.help-off.guided-off div.xlarge.mediumaside div.asideleft {
        float: left;
        clear: left;
        width: 35%;
        max-width: 35%;
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    }
    div.help-off.guided-on div.guided-disabled div.narrowaside div.panelsection.menutabs,
/*  div.help-off.guided-off div.narrow.narrowaside div.panelsection.menutabs, */
    div.help-off.guided-off div.narrow.narrowaside div.panelsection.menutabs,
    div.help-off.guided-off div.medium.narrowaside div.panelsection.menutabs,
    div.help-off.guided-off div.medium.mediumaside div.panelsection.menutabs,
    div.help-off.guided-off div.large.narrowaside div.panelsection.menutabs,
    div.help-off.guided-off div.large.mediumaside div.panelsection.menutabs,
    div.help-off.guided-off div.xlarge.narrowaside div.panelsection.menutabs,
    div.help-off.guided-off div.xlarge.mediumaside div.panelsection.menutabs {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (min-width: 73em) {
    div.help-off.guided-on div.guided-disabled div.mediumaside,
    div.help-off.guided-off div.mediumaside,
    div.help-off.guided-off div.large.narrowaside, 
    div.help-off.guided-off div.xlarge.narrowaside {
        max-width: 70em;
    }

    div.help-off.guided-on div.guided-disabled div.mediumaside div.panelsection,
    div.help-off.guided-off div.mediumaside div.panelsection {
        width: 35em;
        margin-left: 35em;
    }

    div.help-off.guided-off div.large.narrowaside div.panelsection,
    div.help-off.guided-off div.xlarge.narrowaside div.panelsection {
        width: 47em;
        margin-left: 22em;
    }

    div.help-off.guided-on div.guided-disabled div.mediumaside div.formtabs,
    div.help-off.guided-off div.narrowaside div.formtabs,
    div.help-off.guided-off div.mediumaside div.formtabs {
        margin-left: 0px;
    }

    div.help-off.guided-on div.guided-disabled div.mediumaside div.asideleft,
    div.help-off.guided-off div.mediumaside div.asideleft {
        float: left;
        clear: left;
        width: 34em;
        max-width: 34em;
        /* FIXME: needs to be 38 for date picker */
        /* max-width: 38em; */
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    }

    div.help-off.guided-on div.guided-disabled div.aside,
    div.help-off.guided-off div.aside {
        float: right;
        clear: right;
        width: 20em;
        max-width: 29em;
        height: auto;
        margin-top: 0px;
    }

    div.help-off.guided-on div.guided-disabled div.mediumaside div.fullwidth,
    div.help-off.guided-on div.guided-disabled div.mediumaside div.formtabs,
    div.help-off.guided-off div.narrowaside div.fullwidth,
    div.help-off.guided-off div.narrowaside div.formtabs,
    div.help-off.guided-off div.mediumaside div.fullwidth,
    div.help-off.guided-off div.mediumaside div.formtabs {
        width: 100%;
    }
    div.help-off.guided-off div.large.narrowaside div.asideleft {
        float: left;
        clear: left;
        width: 20em;
        max-width: 20em;
        /* FIXME: needs to be 38 for date picker */
        /* max-width: 38em; */
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    }
    div.help-off.guided-off div.xlarge.narrowaside {
        max-width: 98%;
    }
    div.help-off.guided-off div.xlarge.narrowaside div.panelsection {
        width: 70%;
        box-sizing: border-box;
        margin-left: 30%;
    }
    div.help-off.guided-off div.xlarge.narrowaside div.asideleft {
        width: 28%;
        max-width: 28%;
        box-sizing: border-box;
        margin-left: 0;
    }
}

/* media queries to adjust screen based on width */
@media screen and (min-width: 84em) {
    div.help-off.guided-on div.guided-disabled div.mediumaside,
    div.help-off.guided-off div.mediumaside {
        max-width: 80em;
    }
    div.help-off.guided-off div.large.mediumaside {
        max-width: 90em;
    }
    div.help-off.guided-off div.xlarge.narrowaside {
        max-width: 110em;
    }
    div.help-off.guided-off div.xlarge.mediumaside {
        max-width: 120em;
    }
    
    div.help-off.guided-on div.guided-disabled div.narrowaside div.formtabs,
    div.help-off.guided-on div.guided-disabled div.mediumaside div.formtabs,
    div.help-off.guided-off div.narrowaside div.formtabs,
    div.help-off.guided-off div.mediumaside div.formtabs {
        margin-left: 0px;
    }
    div.help-off.guided-on div.guided-disabled div.mediumaside div.panelsection,
    div.help-off.guided-off div.mediumaside div.panelsection {
        width: 45em;
    }
    div.help-off.guided-on div.guided-disabled div.mediumaside div.fullwidth,
    div.help-off.guided-on div.guided-disabled div.mediumaside div.formtabs,
    div.help-off.guided-off div.narrowaside div.fullwidth,
    div.help-off.guided-off div.narrowaside div.formtabs,
    div.help-off.guided-off div.mediumaside div.fullwidth,
    div.help-off.guided-off div.mediumaside div.formtabs {
        width: 100%;
    }
}
@media screen and (min-width: 100em) {
    div.help-off.guided-off div.large.mediumaside.columns,
    div.help-off.guided-off div.xlarge.mediumaside.columns {
        max-width: 120em;
    }
    div.help-off.guided-off div.large.mediumaside.columns div.panelcolumns,
    div.help-off.guided-off div.large.mediumaside.columns div.panelsection,
    div.help-off.guided-off div.xlarge.mediumaside.columns div.panelsection {
        width: 74%;
        max-width: 74%;
        margin-left: 26%;
    }
    div.help-off.guided-off div.large.mediumaside.columns div.panelcolumns div.panelcolumn {
        vertical-align: top;
        display: inline-block;
        width: 49%;
        margin-right: 1%;
    }
    div.help-off.guided-off div.large.mediumaside.columns div.asideleft,
    div.help-off.guided-off div.xlarge.mediumaside.columns div.asideleft {
        float: left;
        clear: left;
        width: 25%;
        max-width: 25%;
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    }
}
/*
@media screen and (min-width: 110em) {
    div.help-on.guided-on div.guided-disabled div.mediumaside,
    div.help-on.guided-off div.mediumaside {
        max-width: 59em;
    }
    div.help-on.guided-on div.guided-disabled div.mediumaside div.formtabs,
    div.help-on.guided-off div.mediumaside div.formtabs {
        margin-left: 0px;
    }
    div.help-on.guided-on div.guided-disabled div.mediumaside div.panelsection,
    div.help-on.guided-off div.mediumaside div.panelsection {
        width: 35em;
        margin-left: 21em;
        margin-left: 22em;
    }
    div.help-on.guided-on div.guided-disabled div.mediumaside div.fullwidth,
    div.help-on.guided-on div.guided-disabled div.mediumaside div.formtabs,
    div.help-on.guided-off div.mediumaside div.fullwidth,
    div.help-on.guided-off div.mediumaside div.formtabs {
        width: 100%;
    }

    div.help-on.guided-on div.guided-disabled div.narrowaside div.asideleft,
    div.help-on.guided-off div.narrowaside div.asideleft {
        float: left;
        clear: left;
        width: 20em;
        max-width: 20em;
        margin-left: 0px;
        height: auto;
        margin-top: 0px;
    }
}
*/
